.banner{
    background: url(../../../../../public/new-lp/banner.webp) bottom/cover no-repeat;
    background-position: 40%;
    background-position: 40%;
    margin-top: -127px;

}


.longa{
    position: relative;
    z-index: 1;
}
.longa:before {
    content: '';
    background: url(../../../../../public/new-lp/logo/textcircle_01.webp);
    position: absolute;
    left: -75%;
    right: 0;
    margin: 0 auto;
    bottom: -27%;
    width: 198px;
    height: 108px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 100%;
}


@media screen and (max-width: 767px) {
   

    .longa:before {
        display: none;
    }
    
}