.contact{
    
}
.longa{
    position: relative;
    z-index: 1;
}
.longa:before {
    content: '';
    background: url(../../../../../public/new-lp/service/textcircle_01.webp);
    position: absolute;
    left: -58%;
    right: 0;
    margin: 0 auto;
    bottom: 12%;
    width: 285px;
    height: 76px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 100%;
}


@media screen and (max-width: 991px) { 

 
    .longa:before{
        display: none;
    }

}